html {
	width  : 100%;
}

body {
	width  : 100%;
	margin : 0px 0px 0px 0px;
}

table {
	width  : 280px;
    margin-left:  auto;
    margin-right: auto;
}

tr {
	width  : 100%;
	height : 100%;
}

td {
	text-align     	: center;
	font-family		: Helvetica;
}

td.title {
    height          : 50px;
	vertical-align 	: middle;
}

td.logo {
    height          : 150px;
	vertical-align 	: middle;
}

td.subtitle {
}

td.description {
    line-height : 17px;
}

span.name {
	font-size  	: 24px;
	font-family : HelveticaNeue-Light;
	color		: #4B4B4B;
}

span.title {
	font-size  	: 23px;
	color		: #4B4B4B;
}

p.image {
}

span.subtitle {
	font-size  	: 15px;
	color		: #444444;
}

span.description {
	font-size  	: 12px;
	color		: #777777;
}

p.next {
	font-size  	: 13px;
	color		: #444444;
}

span.img_arrow {
	margin				: 0px 0px -2px 4px;
	display				: inline-block;
	background-repeat	: no-repeat;
	width				: 10px;
	height				: 11px;
	background-size		: 100%;
}

span.img_arrow_1x {
	background-image	: url(../img/arrow.png);
}

span.img_arrow_2x {
	background-image	: url(../img/arrow@2x.png);
}

span.img_tutorial1 {
	display				: inline-block;
	background-repeat	: no-repeat;
	width				: 90px;
	height				: 95px;
	background-size		: 100%;
}

span.img_tutorial1_1x {
	background-image	: url(../img/tutorial1.png);
}

span.img_tutorial1_2x {
	background-image	: url(../img/tutorial1@2x.png);
}

span.img_tutorial2 {
	display				: inline-block;
	background-repeat	: no-repeat;
	width				: 81px;
	height				: 95px;
	background-size		: 100%;
}

span.img_tutorial2_1x {
	background-image	: url(../img/tutorial2.png);
}

span.img_tutorial2_2x {
	background-image	: url(../img/tutorial2@2x.png);
}

span.img_tutorial3 {
	display				: inline-block;
	background-repeat	: no-repeat;
	width				:  54px;
	height				: 112px;
	background-size		: 100%;
}

span.img_tutorial3_1x {
	background-image	: url(../img/tutorial3.png);
}

span.img_tutorial3_2x {
	background-image	: url(../img/tutorial3@2x.png);
}
